*{
    padding: 0;
    margin: 0;
    
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

.btn-secondary{
    background-color: #0e7248!important;
    border-color: #0b5838!important;
}

.btn-secondary:hover{
    background-color: #0a4d31!important;
    border-color: #0b5838!important;
}

.letter{
    font-family: 'Anton';
    font-size: 50px;
}

.card-header{
    background-color: #f9a826!important;
}

.btn-link {
    font-weight: 500;
    color: #0e7248!important;
    text-decoration: none;
    font-family: 'Anton';
}

.btn-outline-primary{
    background-color: #0e724800;
    border-color: #0e7248!important;
    color: #0e7248!important;
    margin-left: 10px;
    border-radius: 15px;
}


.btn-outline-primary:hover{
    background-color: #0b633e!important;
    border-color: #0e7248!important;
    color: white!important;
    cursor: pointer;
}

.btn-outline-primary:focus{
    border-color: #0b633e!important;
    box-shadow: 0 0px 0px #094b2f inset, 0 0 8px #0b633e!important;
    outline: 0 none;
  
}

@media only screen and (max-width: 1400px) {
    #banner{
        display: none;
        
    }
    
}

input, select{
    height: 35px;
    margin: 8px!important;
    padding: 5px!important;
    width: 220px;

}


input:focus, select:focus, textarea:focus{
    background-color: white;
    border-bottom: 2px solid #0e7248!important;
    border: none;
    outline: 0 none;
}

.card{
    border-radius: 1rem!important;
    
}

i:hover{
    cursor: pointer;
    
}

.cardP{
    padding-left: 35px;
}


input[type=checkbox]{
    margin: 0px;
    height: 20px;
    width: 20px;
}

.map {
    height: 400px;
    width: 100%;
  }

  .inError{
    border-bottom: 4px solid red!important;
  }
  .inSuccess{
    border-bottom: 4px solid green!important;
  }

  .back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: block;
    background: transparent;
    color:#f9a826!important;
    padding: 0.3rem 1rem;
    transition: all 0.5s linear;
    cursor: pointer;
    opacity: 0.5;
  }
  
    .back-to-top:hover {
      opacity: 1;
    }